{% extends "layout.html" %}

{% block title %}search{% endblock %}

{% block body %}

    <h1>Search</h1>
    <input type="text" placeholder="Enter Show Title" autofocus>

    <ul>
    </ul>
    
    <script>
        input = document.querySelector("input");
        input.addEventListener("input", async function(){
            if (input.value === ""){
                document.querySelector("ul").innerHTML = null;
                return
            }

            let response = await fetch("/search?query=" + input.value);
            let shows = await response;
            document.querySelector("ul").innerHTML = shows;
            console.log(shows);
        })
    </script>

{% endblock %}